body {
  font-family: 'Open Sans', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient( 26deg, #3BECAB, #15B7E4 );
}
h1 {
  font-family: 'Raleway', sans-serif;
}