@mixin header-links {
  color: $fontColor-reverse;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  transition: border 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}

@mixin linkUnderline {
  border-bottom: 1px $fontColor-reverse solid;

  color: $fontColor-main;
  text-decoration: none;

  &:hover {
    color: $fontColor-reverse;
    border-bottom-color: transparent;
  }
}

@mixin hr( $width ) {
  width: $width;
  height: 3px; 
  border: 0;
  margin: 30px 0;
  $empty: rgba(0, 0, 0, 0);
  background-image: linear-gradient(to right, $empty, $white, $empty);
}

@mixin header-underlines {
  .header-underline {
    max-width: 0;
    height: 3px;
    background: $fontColor-reverse;
    transition: max-width 0.2s ease-in-out;

    .header-link:hover + & { max-width: 100%; }
  }
}

.underline {
  &:hover {
    color: $fontColor-reverse;
    background: $fontColor-main;
  }
  color: $fontColor-main;
  text-decoration: none;
  border-bottom: 2px $fontColor-main solid;
}

.buttons {
  display: flex;
  justify-content: center;
}

.button--get-started {
  grid-area: button;
  align-self: center;
  color: $black;
  background: $white;
  box-shadow: 0 4px 10px 1px rgba( $black, 0.2 );
  font-size: 1.2rem;
  border-radius: 50px;
  transition: all .3s;
  cursor: pointer;
  text-decoration: none;
  padding: 20px 25px;
  text-align: center;

  &:hover {
    box-shadow: 0 14px 25px 1px rgba( $black, 0.3 );
    transform: translateY( -2px );
  }

  // Button content
  display: flex;
  justify-content: center;
  align-items: center;

  a, img {
    $dimensions: 55px;
    width: $dimensions;
    height: $dimensions;
  }

  p {
    margin: 0;
    padding-left: 8px;
  }

  &:nth-of-type(1) {
    margin-right: 25px; // Between buttons
  }
}