
- const facebookLink = "https://www.facebook.com/maya.dettmann";
- const emailAdress = "dettmann_maya@yahoo.de";

head
  title Maya
  link( rel="icon" href="" )
  link( rel="stylesheet" type="text/css" href="./style.css" )
  link( href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet" )
body
  header
    .container
      input( id="responsive-menu" type="checkbox" )
      label( for="responsive-menu" ) #MitMayaNachBrasilien <span id="menu-icon"></span>
      #overlay
      ul
        li
          a.header-link.mission-link( href="#mission" ) Meine Mission
        li
          a.header-link.me-link( href="#me" ) Über Mich
        li
          a.header-link.orga-link( href="#organization" ) Organisation
        li
          a.header-link.support-link( href="#support" ) Unterstütze Mich
        li( style="display:flex;justify-content:center;align-items:center;flex-direction:column;")
          hr.footer-hr( style="filter: invert(100%); margin-top: 10px;" )
        li
          a.footer-link( href=facebookLink ) Facebook
        li
          a.footer-link( href=`mailto:${emailAdress}` target="blank" ) Send Email
  main
    p Dies ist eine kurze Beschreibung des Projektes.<br>Pellentesque vel dui sed orci faucibus iaculis. Pellentesque vel dui sed orci faucibus iaculis.
    .buttons
      a.mission-link( href="#mission" ).button--get-started
        img( src="img/book.svg" )
        p Weiterlesen
      a( href="#support" ).button--get-started
        img( src="img/piggy-bank.svg" ) 
        p Spenden
    hr.footer-hr( style="margin: 40px 0;" )
    div
      h2#mission Meine Mission
      p Meine „Mission“ für das nächste Jahr ist, bei der ARCO mitzuarbeiten, 
        | die brasilianische Kultur näher kennenzulernen, die Sprache (portugiesisch) sprechen zu lernen 
        | und in meiner freien Zeit ein bisschen dort herumzureisen. Brasilien und auch der restliche Kontinent haben eine wunderschöne Natur
        | und es gibt einige Orte, die ich unbedingt einmal besuchen möchte. 
      p Aber im Vordergrund steht natürlich die Arbeit bei dem Hilfswerk ARCO Associação Beneficente. 1991 gegründet, 
        | betreut die Einrichtung rund 600 Kinder und Jugendliche aus sozial benachteiligten Familien mit prekären Familienverhältnissen. 
        | Die ARCO besteht aus einem Kindergarten und einer Einrichtung, die wie eine Art Schule fungiert, zu der die Kinder kommen können, 
        | um ein kostenloses Freizeitprogramm zu erhalten. Dies hängt mit der Schule in Brasilien zusammen, 
        | da es entweder nur Vormittags- oder Nachmittagsunterricht gibt und anstatt den ganzen restlichen Tag auf der Straße zu verbringen, 
        | sorgen wir dafür, dass sie eine Anlaufstelle haben, wo sie gerne hinkommen, etwas lernen und Spaß mit ihren Freunden haben können. 
        | Die Kinder erhalten Schulunterricht und eine gesunde Ernährung. 
        | Außerdem werden sie auch im Hinblick auf eine spätere Berufsausbildung vielseitig gefördert, 
        | um ihnen so den Weg aus einem Leben in Armut, Arbeitslosigkeit, Kriminalität und Drogenkonsum zu bieten.
      p Beginnen wird mein Auslandseinsatz am 3.9.2018 und enden wird er am 2.9.2019.
      p Um mehr über die Einrichtung zu erfahren, klicke 
        | <a href="http://www.arcobrasil.org.br/site-alemao/index.htm" class="underline" target="_blank">hier</a>.  
    div
      h2#me Über Mich
      p Mein Name ist Maya Dettmann. Im Juni werde ich 18 Jahre alt und beende in diesem Schuljahr die 12. Klasse 
        | am Geschwister-Scholl-Gymnasium in Wismar. Weil ich 
    div
      h2#organization Organisation
      p Ermöglicht wird mir dieser Auslandseinsatz durch die Freunde der Erziehungskunst Rudolf Steiners. 
        | Als freier Bildungsträger vermitteln die Freunde jährlich über 1200 Freiwilligendienste in ganz Deutschland und weltweit. 
        | Damit gehören sie zu einer der größten privatrechtlichen Trägerorganisationen für Freiwilligendienste. 
        | Ziel ist es, möglichst vielen jungen Menschen die Möglichkeit zu bieten, interkulturelle Erfahrungen zu sammeln, 
        | soziale Verantwortung zu übernehmen und sich somit aktiv an der Gestaltung der Gesellschaft zu beteiligen.
      p Um mehr über die Organisation zu erfahren, klicke 
        | <a href="https://www.freunde-waldorf.de/waldorf-weltweit/" class="underline" target="_blank">hier</a>.
    div
      h2#support Unterstütze Mich
      p Offiziell läuft mein Auslandseinsatz unter der Bezeichnung „entwicklungspolitischer Freiwilligendienst“. 
        | Das Ganze wird zum Teil staatlich finanziert, 3200€ muss ich aber in Form von Spenden selber aufbringen. 
        | Diese Spenden kommen dann in einen großen Förderfonds, durch den sichergestellt wird, dass auch im nächsten Jahr 
        | Freiwillige die Möglichkeit haben auf diese Weise ins Ausland zu gehen. Das Konzept basiert also auf dem Solidaritätsprinzip 
        | und auf dem Gleichheitsgedanken. So hängen die Freiwilligendienste nicht von den entstehenden Kosten der einzelnen Projekte 
        | oder von der finanziellen Lage der Freiwilligen und ihrer Eltern ab.
      p Darum bitte ich um Unterstützung in Form von Spenden
      code 
        | IBAN: DE53 1405 1000 1506 0524 59<br>
        | BIC: NOLADE21WIS <br>
        | Kontoinhaber: Maya Dettmann <br>
        | Verwendungszweck: Spende Brasilien
      p Es ist auch möglich, die Spende direkt auf das Spendenkonto der Freunde zu überweisen. Sollte das gewünscht sein, 
        | übermittele ich gerne die notwendigen Informationen dafür. 
      p Die Freunde sind als gemeinnütziger Verein staatlich anerkannt, weshalb sie als Spender*innen steuerlich wirksame 
        | Spendenbescheinigungen erhalten können.
  footer
    hr.footer-hr
    .links
      a.footer-link( href=facebookLink ) Facebook
      a.footer-link( href=`mailto:${emailAdress}` target="blank" ) Send Email

  script( src="./script.js" )

  style.
    html {
      box-sizing: border-box;
    }
    *:not( img ), *:before, *:after {
      box-sizing: inherit;
    }
