head
  title Maya
  link( rel="icon" href="" )
  link( rel="stylesheet" type="text/css" href="./main.css" )
  link( href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet" )
body
  header
    #nav-left
      a.header-link( href="https://jneidel.com/" ) Mayas tolle Spendenaktion
      .header-underline
    #nav-right
      .link-wrapper
        a.header-link( href="" ) 123
        .header-underline
      .link-wrapper
        a.header-link( href="" ) 456
        .header-underline
      .link-wrapper
        a.header-link( href="" ) 789
        .header-underline
  main
    h1 Maya
  footer
    #footer
    hr.footer-hr
    div.links
      a.footer-link( href="" ) Help
      a.footer-link( href="" target="blank" ) Send Feedback
      a.footer-link( href="" ) Source

  script( src="./main.js" )
